/* .sidebar {
    padding: 50px 20px;

    display: grid;
    grid-template-rows: 1fr auto ;
    grid-gap: 20px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 59px;
    height: 20px;
    top: 895px;
    left: 85px;

    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    cursor: pointer;

    color: #E5613E;

    margin-top: 20rem;
} */


/* Sidebar Component CSS */
/* .sidebar {
    height: 100vh;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: -250px;
}

.open {
    left: 0;
}

.closed {
    left: -250px;
}

.toggle-btn {
    margin-top: 20px;
    margin-left: 10px;
}

.main-content {
    transition: all 0.3s ease;
}

.collapsed {
    margin-left: 0;
}

Adjust the styles as per your design and requirements */

/* .tgswitch {
    color: rgb(23, 21, 21);
    width: 50;
    height: 50;
    padding: 15px;
}

.sidenav {
    color: rgb(53, 44, 44);
    width: 200;
    
} */