.card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card img {
    width: 80px;
    height: 80px;
    top: 873px;
    left: 319px;
    border-radius: 12px;
}

.card p:nth-child(1) {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
}

.card p:nth-child(2) {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;

    margin: 0;
}

.leftSide {
    display: flex;
    gap: 20px;
    align-items: center;
}

.calcul {
    display: flex;
    justify-content: start;
    align-items: center; 
}

.calcul button:nth-child(1),
.calcul button:nth-child(3) {
    width: 14px;
    height: 14px;
    padding: 0px, 3.53px, 0px, 3.53px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calcul:nth-child(2) {
    width: 14px;
    height: 23px;

    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.035em;
    text-align: left;

    color: #262525;

}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    /* align-items: end; */
}

.rightSide img {
    width: 20px;
    height: 20px;
    color: #BDBDBD;

}

