.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products p:nth-child(1) {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #0D0D0D;
}

.products p:nth-child(2) {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

    color: #0790FF;
}

.card {
    display: flex;
    /* justify-content: space-between; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    gap: 20px;


    border-radius: 12px;
}

